{"swagger":"2.0","info":{"version":"1.0.0","title":"Dalux Build API 4.7","description":"Contact Support:\n Email: support@dalux.com"},"host":"field.dalux.com","basePath":"/service/api","schemes":["https"],"consumes":[],"produces":["application/json"],"paths":{"/5.0/projects/{projectId}/file_areas/{fileAreaId}/folders":{"get":{"summary":"Browse all folders on the given project","description":"Returns folders on the given project","operationId":"BrowseAllFoldersOnTheGivenProject","parameters":[{"name":"projectId","in":"path","type":"string","required":true},{"name":"fileAreaId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/5.0/projects/{projectId}/file_areas/{fileAreaId}/files":{"get":{"summary":"Browse all files on the given project","description":"Returns all files within an area on given project. This endpoint uses incremental updates.","operationId":"BrowseAllFilesOnTheGivenProject","parameters":[{"name":"includeProperties","default":"false","in":"query","type":"string","required":true},{"name":"projectId","in":"path","type":"string","required":true},{"name":"fileAreaId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/5.0/projects/{projectId}/file_areas":{"get":{"summary":"Retrieve the file areas on the given project","description":"Returns the file areas for the corresponding project","operationId":"RetrieveTheFileAreasOnTheGivenProject","parameters":[{"name":"projectId","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/5.0/projects/{projectId}/tasks":{"get":{"summary":"Retrieve tasks, approvals, safety issues and safety observations on a project","description":"Returns all tasks, approvals, safety issues and safety observations from the project with the corresponding ID with optional OData filtering as query parameter on typeId using \"eq\" as operator","operationId":"RetrieveTasksApprovalsSafetyIssuesAndSafetyObservationsOnAProject","parameters":[{"name":"$filter","default":"<string>","in":"query","type":"string","required":true},{"name":"projectId","default":"<long>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/5.0/projects/{projectId}":{"get":{"summary":"Get a specific project","description":"Get a specific project","operationId":"GetASpecificProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}},"patch":{"summary":"update a project","description":"Updates a project","operationId":"UpdateAProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type"},{"name":"body","in":"body","schema":{"type":"object","properties":{"projectName":{"type":"string","description":"projectName"},"address":{"type":"string","description":"address"},"number":{"type":"string","description":"number"},"metadata":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"name":{"type":"string","description":"name"},"values":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string","description":"text"},"reference":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"}},"description":"reference"}}},"description":"values"}}},"description":"metadata"}},"default":{"projectName":"<string>","address":"<string>","number":"<string>","metadata":[{"key":"<string>","name":"<string>","values":[{"text":"<string>","reference":{"key":"<string>","value":"<string>"}},{"text":"<string>","reference":{"key":"<string>","value":"<string>"}}]},{"key":"<string>","name":"<string>","values":[{"text":"<string>","reference":{"key":"<string>","value":"<string>"}},{"text":"<string>","reference":{"key":"<string>","value":"<string>"}}]}]}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/5.0/projects":{"get":{"summary":"Get all available projects","description":"Get all available projects","operationId":"GetAllAvailableProjects","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}},"post":{"summary":"Create a new project","description":"Creates a new project. The created project will follow the default project language, measurement unit and time zone set in the company settings, as well as the Field and Box configuration that has been defined for the company.","operationId":"CreateANewProject","parameters":[{"name":"adminEmail","default":"<string>","in":"query","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type"},{"name":"body","in":"body","schema":{"type":"object","properties":{"projectName":{"type":"string","description":"projectName"},"address":{"type":"string","description":"address"},"number":{"type":"string","description":"number"},"type":{"type":"string","description":"type"},"projectTemplateId":{"type":"string","description":"projectTemplateId"},"metadata":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"name":{"type":"string","description":"name"},"values":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string","description":"text"},"reference":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"}},"description":"reference"}}},"description":"values"}}},"description":"metadata"}},"default":{"projectName":"<string>","address":"<string>","number":"<string>","type":"building","projectTemplateId":"<string>","metadata":[{"key":"<string>","name":"<string>","values":[{"text":"<string>","reference":{"key":"<string>","value":"<string>"}},{"text":"<string>","reference":{"key":"<string>","value":"<string>"}}]},{"key":"<string>","name":"<string>","values":[{"text":"<string>","reference":{"key":"<string>","value":"<string>"}},{"text":"<string>","reference":{"key":"<string>","value":"<string>"}}]}]}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/metadata/1.0/mappings/{key}/values":{"get":{"summary":"Get available values for metadata in PATCH project operation","description":"Get all possible values for user defined metadata field for PATCH project operations","operationId":"GetAvailableValuesForMetadataInPatchProjectOperation","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true},{"name":"key","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/metadata/1.0/mappings":{"get":{"summary":"Get all metadata available for PATCH project operations","description":"Get all user defined metadata fields available for PATCH project operations","operationId":"GetAllMetadataAvailableForPatchProjectOperations","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/metadata":{"get":{"summary":"Get metadata of a specific project","description":"Get metadata of a specific project","operationId":"GetMetadataOfASpecificProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}}}}},"/1.0/projects/{projectId}/users/{userId}":{"get":{"summary":"Get user on project","description":"Get user on project","operationId":"GetUserOnProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true},{"name":"userId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/users":{"get":{"summary":"Get users on project","description":"Get users on project","operationId":"GetUsersOnProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/workpackages":{"get":{"summary":"Browse all work packages on the given project","description":"Returns non-deleted work packages on the given project","operationId":"BrowseAllWorkPackagesOnTheGivenProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/file_areas/{fileAreaId}/files/{fileId}/revisions/{fileRevisionId}/content":{"get":{"summary":"Retrieve content of a specific revision","description":"Returns the content of the specified revision of a file with the corresponding ID within the given area","operationId":"RetrieveContentOfASpecificRevision","parameters":[{"name":"projectId","in":"path","type":"string","required":true},{"name":"fileAreaId","default":"<string>","in":"path","type":"string","required":true},{"name":"fileId","default":"<long>","in":"path","type":"string","required":true},{"name":"fileRevisionId","default":"<long>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/file_areas/{fileAreaId}/upload/{uploadGuid}/finalize":{"post":{"summary":"Finish uploading a file","description":"Finalize the upload of the file associated with the GUID, and supply file metadata. Only the properties fileId, folderId, properties, fileType and fileName are considered in the metadata. Either fileId or folderId can be set, but not both. If fileId is set, a new version of the corresponding file is uploaded. If folderId is set, a new file is uploaded to that folder. (fileAreaId query parameter cannot reference a file area of type published or shared)","operationId":"FinishUploadingAFile","parameters":[{"name":"projectId","in":"path","type":"string","required":true},{"name":"fileAreaId","default":"<string>","in":"path","type":"string","required":true},{"name":"uploadGuid","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type"},{"name":"body","in":"body","schema":{"type":"object","properties":{"fileId":{"type":"string","description":"fileId"},"fileRevisionId":{"type":"string","description":"fileRevisionId"},"fileName":{"type":"string","description":"fileName"},"fileAreaId":{"type":"string","description":"fileAreaId"},"folderId":{"type":"string","description":"folderId"},"uploadedByUserId":{"type":"string","description":"uploadedByUserId"},"uploaded":{"type":"string","description":"uploaded"},"lastModifiedByUserId":{"type":"string","description":"lastModifiedByUserId"},"lastModified":{"type":"string","description":"lastModified"},"version":{"type":"string","description":"version"},"deleted":{"type":"string","description":"deleted"},"fileType":{"type":"string","description":"fileType"},"fileSize":{"type":"string","description":"fileSize"},"contentHash":{"type":"string","description":"contentHash"},"downloadLink":{"type":"string","description":"downloadLink"},"properties":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"name"},"value":{"type":"string","description":"value"}}},"description":"properties"}},"default":{"fileId":"<string>","fileRevisionId":"<string>","fileName":"<string>","fileAreaId":"<string>","folderId":"<string>","uploadedByUserId":"<string>","uploaded":"<date>","lastModifiedByUserId":"<string>","lastModified":"<date>","version":"<string>","deleted":"<boolean>","fileType":"drawing","fileSize":"<long>","contentHash":"<string>","downloadLink":"<string>","properties":[{"name":"<string>","value":"<string>"},{"name":"<string>","value":"<string>"}]}},"required":true}],"responses":{"201":{"description":"201","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"fileId":{"type":"string","description":"fileId"},"fileRevisionId":{"type":"string","description":"fileRevisionId"},"fileName":{"type":"string","description":"fileName"},"fileAreaId":{"type":"string","description":"fileAreaId"},"folderId":{"type":"string","description":"folderId"},"uploadedByUserId":{"type":"string","description":"uploadedByUserId"},"uploaded":{"type":"string","description":"uploaded"},"lastModifiedByUserId":{"type":"string","description":"lastModifiedByUserId"},"lastModified":{"type":"string","description":"lastModified"},"version":{"type":"string","description":"version"},"deleted":{"type":"string","description":"deleted"},"fileType":{"type":"string","description":"fileType"},"fileSize":{"type":"string","description":"fileSize"},"contentHash":{"type":"string","description":"contentHash"},"downloadLink":{"type":"string","description":"downloadLink"},"properties":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"name"},"value":{"type":"string","description":"value"}}},"description":"properties"}},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/file_areas/{fileAreaId}/upload/{uploadGuid}":{"post":{"summary":"Upload a part of a file","description":"Upload a part of a file to a slot specified by the GUID. The size of each uploaded part cannot exceed 5242880 bytes (fileAreaId query parameter cannot reference a file area of type published or shared)","operationId":"UploadAPartOfAFile","parameters":[{"name":"projectId","in":"path","type":"string","required":true},{"name":"fileAreaId","default":"<string>","in":"path","type":"string","required":true},{"name":"uploadGuid","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Disposition","in":"header","required":true,"type":"string","default":"","description":"Content-Disposition"},{"name":"Content-Range","in":"header","required":true,"type":"string","default":"","description":"Content-Range"},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/octet-stream","description":"Content-Type"},{"name":"body","in":"body","schema":{"type":"string"},"required":true}],"responses":{"202":{"description":"202","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/file_areas/{fileAreaId}/upload":{"post":{"summary":"Create a new upload slot and return a GUID pointing to that slot","description":"Returns a GUID pointing to a new file upload slot (fileAreaId query parameter cannot reference a file area of type published or shared)","operationId":"CreateANewUploadSlotAndReturnAGuidPointingToThatSlot","parameters":[{"name":"projectId","in":"path","type":"string","required":true},{"name":"fileAreaId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"201":{"description":"201","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"uploadGuid":{"type":"string","description":"uploadGuid"}},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/file_areas/{fileAreaId}":{"get":{"summary":"Retrieve a specific file area","description":"Returns the file area with the corresponding ID","operationId":"RetrieveASpecificFileArea","parameters":[{"name":"projectId","in":"path","type":"string","required":true},{"name":"fileAreaId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"fileAreaId":{"type":"string","description":"fileAreaId"},"fileAreaName":{"type":"string","description":"fileAreaName"},"fileAreaType":{"type":"string","description":"fileAreaType"}},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/version_sets/{versionSetId}":{"get":{"summary":"Retrieve a specific version set","description":"Return the version set with the corresponding ID","operationId":"RetrieveASpecificVersionSet","parameters":[{"name":"projectId","in":"path","type":"string","required":true},{"name":"versionSetId","default":"<integer>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"versionSetId":{"type":"string","description":"versionSetId"},"name":{"type":"string","description":"name"},"description":{"type":"string","description":"description"},"status":{"type":"string","description":"status"},"fileAreaId":{"type":"string","description":"fileAreaId"}},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/inspectionPlans":{"get":{"summary":"Browse all inspection plans on the given project","description":"Returns inspection plans for the corresponding project","operationId":"BrowseAllInspectionPlansOnTheGivenProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/inspectionPlanItems":{"get":{"summary":"Browse all inspection plan items on the given project","description":"Returns inspection plan items for the corresponding project","operationId":"BrowseAllInspectionPlanItemsOnTheGivenProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/inspectionPlanItemZones":{"get":{"summary":"Browse all inspection plan item zones on the given project","description":"Returns inspection plan item zones for the corresponding project","operationId":"BrowseAllInspectionPlanItemZonesOnTheGivenProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/testPlans":{"get":{"summary":"Browse all test plans on the given project","description":"Returns test plans for the corresponding project","operationId":"BrowseAllTestPlansOnTheGivenProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/testPlanItems":{"get":{"summary":"Browse all test plan items on the given project","description":"Returns test plan items for the corresponding project","operationId":"BrowseAllTestPlanItemsOnTheGivenProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/testPlanItemZones":{"get":{"summary":"Browse all test plan item zones on the given project","description":"Returns test plan item zones for the corresponding project","operationId":"BrowseAllTestPlanItemZonesOnTheGivenProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/testPlanRegistrations":{"get":{"summary":"Browse all test plan registrations on the given project, excluding planned registrations","description":"Returns test plan registrations for the corresponding project. Planned registrations are not returned, only the actual ongoing or completed form registrations.","operationId":"BrowseAllTestPlanRegistrationsOnTheGivenProjectExcludingPlannedRegistrations","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/{projectId}/tasks/attachments":{"get":{"summary":"Retrieve attachments on tasks on a project","description":"Returns all attachments on tasks from the project with the corresponding ID","operationId":"RetrieveAttachmentsOnTasksOnAProject","parameters":[{"name":"projectId","default":"<long>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/metadata/1.0/mappings/{key}/values":{"get":{"summary":"Get available values for metadata in POST project operation","description":"Get all possible values for user defined metadata field POST project operation","operationId":"GetAvailableValuesForMetadataInPostProjectOperation","parameters":[{"name":"key","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projects/metadata/1.0/mappings":{"get":{"summary":"Get all metadata available for POST project operations","description":"Get all user defined metadata fields available for POST project operations","operationId":"GetAllMetadataAvailableForPostProjectOperations","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/users/{userId}":{"get":{"summary":"Get a specific user","description":"Get a specific user","operationId":"GetASpecificUser","parameters":[{"name":"userId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/projectTemplates":{"get":{"summary":"Get all available project templates on the company profile","description":"Get all available project templates on the company profile","operationId":"GetAllAvailableProjectTemplatesOnTheCompanyProfile","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/companyCatalog/{catalogCompanyId}/metadata/1.0/mappings/{key}/values":{"get":{"summary":"Get available values for metadata in a PATCH company-catalog operation","description":"Get all possible values for user defined metadata fields in a PATCH company-catalog operation","operationId":"GetAvailableValuesForMetadataInAPatchCompany-catalogOperation","parameters":[{"name":"catalogCompanyId","default":"<string>","in":"path","type":"string","required":true},{"name":"key","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/companyCatalog/{catalogCompanyId}/metadata/1.0/mappings":{"get":{"summary":"Get all metadata available for a PATCH company-catalog operation","description":"Get all user defined metadata fields available for a PATCH company-catalog operation","operationId":"GetAllMetadataAvailableForAPatchCompany-catalogOperation","parameters":[{"name":"catalogCompanyId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/companyCatalog/{catalogCompanyId}/metadata":{"get":{"summary":"Get metadata of a specific company from the company-catalog","description":"Get metadata of a specific company from the company-catalog","operationId":"GetMetadataOfASpecificCompanyFromTheCompany-catalog","parameters":[{"name":"catalogCompanyId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}}}}},"/1.0/companyCatalog/metadata/1.0/mappings/{key}/values":{"get":{"summary":"Get available values for metadata in a POST company-catalog operation","description":"Get all possible values for user defined metadata fields in a POST company-catalog operation","operationId":"GetAvailableValuesForMetadataInAPostCompany-catalogOperation","parameters":[{"name":"key","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.0/companyCatalog/metadata/1.0/mappings":{"get":{"summary":"Get all metadata available for a POST company-catalog operation","description":"Get all user defined metadata fields available for a POST company-catalog operation","operationId":"GetAllMetadataAvailableForAPostCompany-catalogOperation","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/3.0/projects/{projectId}/companies/{companyId}":{"get":{"summary":"Get company on the project with the corresponding companyId","description":"Get company on the project with the corresponding companyId","operationId":"GetCompanyOnTheProjectWithTheCorrespondingCompanyid","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true},{"name":"companyId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}},"patch":{"summary":"Update company on the project with corresponding companyId","description":"Update company on the project with corresponding companyId","operationId":"UpdateCompanyOnTheProjectWithCorrespondingCompanyid","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true},{"name":"companyId","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type"},{"name":"body","in":"body","schema":{"type":"object","properties":{"companyId":{"type":"string","description":"companyId"},"catalogCompanyId":{"type":"string","description":"catalogCompanyId"},"name":{"type":"string","description":"name"},"vatNumber":{"type":"string","description":"vatNumber"},"address":{"type":"string","description":"address"}},"default":{"companyId":"<string>","catalogCompanyId":"<string>","name":"<string>","vatNumber":"<string>","address":"<string>"}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/3.0/projects/{projectId}/companies":{"get":{"summary":"Get companies on project","description":"Get companies on project","operationId":"GetCompaniesOnProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"items":{"type":"object","properties":{"items":{"type":"object","properties":{},"description":"items"}},"description":"items"}}}},"400":{"description":"400","schema":{"type":"string"}}}},"post":{"summary":"Add company to project","description":"Add company to project","operationId":"AddCompanyToProject","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type"},{"name":"body","in":"body","schema":{"type":"object","properties":{"companyId":{"type":"string","description":"companyId"},"catalogCompanyId":{"type":"string","description":"catalogCompanyId"},"name":{"type":"string","description":"name"},"vatNumber":{"type":"string","description":"vatNumber"},"address":{"type":"string","description":"address"}},"default":{"companyId":"<string>","catalogCompanyId":"<string>","name":"<string>","vatNumber":"<string>","address":"<string>"}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/4.0/projects/{projectId}/file_areas/{fileAreaId}/folders/{folderId}":{"get":{"summary":"Retrieve a specific folder","description":"Returns the folder with the corresponding ID","operationId":"RetrieveASpecificFolder","parameters":[{"name":"projectId","in":"path","type":"string","required":true},{"name":"fileAreaId","default":"<string>","in":"path","type":"string","required":true},{"name":"folderId","default":"<integer>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"folderId":{"type":"string","description":"folderId"},"folderName":{"type":"string","description":"folderName"},"parentFolderId":{"type":"string","description":"parentFolderId"}},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/4.0/projects/{projectId}/file_areas/{fileAreaId}/files/{fileId}/content":{"get":{"summary":"Retrieve content of a file","description":"Returns the content of the latest version of the file with the corresponding ID within the given area","operationId":"RetrieveContentOfAFile","parameters":[{"name":"projectId","in":"path","type":"string","required":true},{"name":"fileAreaId","default":"<string>","in":"path","type":"string","required":true},{"name":"fileId","default":"<long>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/4.0/projects/{projectId}/file_areas/{fileAreaId}/files/{fileId}":{"get":{"summary":"Retrieve a specific file","description":"Returns the latest version of the file with the corresponding ID within the given area","operationId":"RetrieveASpecificFile","parameters":[{"name":"projectId","in":"path","type":"string","required":true},{"name":"fileAreaId","default":"<string>","in":"path","type":"string","required":true},{"name":"fileId","default":"<long>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"fileId":{"type":"string","description":"fileId"},"fileRevisionId":{"type":"string","description":"fileRevisionId"},"fileName":{"type":"string","description":"fileName"},"fileAreaId":{"type":"string","description":"fileAreaId"},"folderId":{"type":"string","description":"folderId"},"uploadedByUserId":{"type":"string","description":"uploadedByUserId"},"uploaded":{"type":"string","description":"uploaded"},"lastModifiedByUserId":{"type":"string","description":"lastModifiedByUserId"},"lastModified":{"type":"string","description":"lastModified"},"version":{"type":"string","description":"version"},"deleted":{"type":"string","description":"deleted"},"fileType":{"type":"string","description":"fileType"},"fileSize":{"type":"string","description":"fileSize"},"contentHash":{"type":"string","description":"contentHash"},"downloadLink":{"type":"string","description":"downloadLink"},"properties":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"name"},"value":{"type":"string","description":"value"}}},"description":"properties"}},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/2.0/projects/{projectId}/version_sets/{versionSetId}/files":{"get":{"summary":"Browse all files on the given project and given version set","description":"Returns all files within an version set on a given project. This endpoint uses incremental updates","operationId":"BrowseAllFilesOnTheGivenProjectAndGivenVersionSet","parameters":[{"name":"includeProperties","default":"false","in":"query","type":"string","required":true},{"name":"projectId","in":"path","type":"string","required":true},{"name":"versionSetId","default":"<integer>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/2.0/projects/{projectId}/version_sets":{"get":{"summary":"Retrieve the version sets on the given project","description":"Returns all version set across all areas on a given project.","operationId":"RetrieveTheVersionSetsOnTheGivenProject","parameters":[{"name":"projectId","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/2.0/projects/{projectId}/file_areas/{fileAreaId}/version_sets":{"get":{"summary":"Browse all version sets on the given file area and project","description":"Returns all version set for a specific file area on the given project","operationId":"BrowseAllVersionSetsOnTheGivenFileAreaAndProject","parameters":[{"name":"projectId","in":"path","type":"string","required":true},{"name":"fileAreaId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/2.0/projects/{projectId}/inspectionPlanRegistrations":{"get":{"summary":"Browse all inspection plan registrations on the given project, excluding planned registrations","description":"Returns inspection plan registrations for the corresponding project. Planned registrations are not returned, only the actual ongoing or completed registrations. Either the formId or taskId will be set, implying the registration type.","operationId":"BrowseAllInspectionPlanRegistrationsOnTheGivenProjectExcludingPlannedRegistrations","parameters":[{"name":"projectId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/2.0/projects/{projectId}/forms/attachments":{"get":{"summary":"Retrieve attachments on forms on a project in incremental updates","description":"Returns all attachments on forms from the project with the corresponding ID, in incremental updates","operationId":"RetrieveAttachmentsOnFormsOnAProjectInIncrementalUpdates","parameters":[{"name":"projectId","default":"<long>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/2.0/projects/{projectId}/forms":{"get":{"summary":"Retrieve forms on a project","description":"Returns all forms from the project with the corresponding ID","operationId":"RetrieveFormsOnAProject","parameters":[{"name":"projectId","default":"<long>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"string"}},"400":{"description":"400","schema":{"type":"string"}}}}},"/2.0/companyCatalog/{catalogCompanyId}":{"patch":{"summary":"Update a company in the company-catalog","description":"Update a company in the company-catalog","operationId":"UpdateACompanyInTheCompany-catalog","parameters":[{"name":"catalogCompanyId","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type"},{"name":"body","in":"body","schema":{"type":"object","properties":{"catalogCompanyId":{"type":"string","description":"catalogCompanyId"},"name":{"type":"string","description":"name"},"vatNumber":{"type":"string","description":"vatNumber"},"address":{"type":"string","description":"address"}},"default":{"catalogCompanyId":"<string>","name":"<string>","vatNumber":"<string>","address":"<string>"}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/2.0/companyCatalog":{"get":{"summary":"Get companies registrered on the company-catalog","description":"Retrieve all companies registrered on the company-catalog","operationId":"GetCompaniesRegistreredOnTheCompany-catalog","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"string"}}}},"post":{"summary":"Create new company in the company-catalog","description":"Create new company in the company-catalog","operationId":"CreateNewCompanyInTheCompany-catalog","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type"},{"name":"body","in":"body","schema":{"type":"object","properties":{"catalogCompanyId":{"type":"string","description":"catalogCompanyId"},"name":{"type":"string","description":"name"},"vatNumber":{"type":"string","description":"vatNumber"},"address":{"type":"string","description":"address"}},"default":{"catalogCompanyId":"<string>","name":"<string>","vatNumber":"<string>","address":"<string>"}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.2/projects/{projectId}/forms/{formId}":{"get":{"summary":"Retrieve a specific form","description":"Returns the form with the corresponding ID","operationId":"RetrieveASpecificForm","parameters":[{"name":"projectId","default":"<integer>","in":"path","type":"string","required":true},{"name":"formId","default":"<integer>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/1.1/companyCatalog/{catalogCompanyId}":{"get":{"summary":"get company-catalog company","description":"get company-catalog company","operationId":"GetCompany-catalogCompany","parameters":[{"name":"catalogCompanyId","default":"<string>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{},"description":"data"}}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/3.2/projects/{projectId}/tasks/{taskId}":{"get":{"summary":"Retrieve a specific task/approval/safety issue/safety observation","description":"Returns the task/approval/safety issue/safety observation with the corresponding ID","operationId":"RetrieveASpecificTask_approval_safetyIssue_safetyObservation","parameters":[{"name":"projectId","default":"<integer>","in":"path","type":"string","required":true},{"name":"taskId","default":"<integer>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}},"/2.1/projects/{projectId}/tasks/changes":{"get":{"summary":"Retrieve task, approval, safety issue and safety observation changes on a project","description":"Returns all task, approval, safety issue and safety observation changes from the project with the corresponding ID","operationId":"RetrieveTaskApprovalSafetyIssueAndSafetyObservationChangesOnAProject","parameters":[{"name":"projectId","default":"<long>","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"400":{"description":"400","schema":{"type":"string"}}}}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"api_key":{"type":"apiKey","in":"header","name":"X-API-KEY"}},"security":[],"tags":[]}